<html>
    <body>
        <script type="text/javascript">

            function picture(){ 
            var pic = "Django/mysite/templates/media/11.png"
            document.getElementById('bigpic').src = pic.replace('90x90', '225x225');
    
            }
    
            function picture2(){
            var pic = "Django/mysite/templates/media/22.png"
            document.getElementById('bigpic').src = pic.replace('90x90', '225x225');
    
            }  
            function picture3(){
            var pic = "Django/mysite/templates/media/33.png"
            document.getElementById('bigpic').src = pic.replace('90x90', '225x225');
    
            }   

        </script>
        <br><h1>GLCM Example</h1></br>
        <img src= "https://www.linkpicture.com/q/input_1.jpg" alt="my image">
        <button onclick="picture()">d=1</button>
        <button onclick="picture2()">d=2</button>
        <button onclick="picture3()">d=3</button>
        <div class="content">
            <div id="">

            </div>

        </div>
        
        {{ a }}
    </body>
</html>
